# Virtual environment folder
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VSCode settings folder (optional)
.vscode/

# OS files (macOS, Windows)
.DS_Store
Thumbs.db

# Txt files
notes.txt
admin_notes.txt